/*
* Common styles for Registration page
* 
* @author       : Sigit Noviandi
* @since        : June 2018
* @copyright    : Diffrnt Digital
* @package      : DokEdit
*
*/


.register-box {
    max-width: 640px;
    width: 95%;
    
    .register-box-body {
        h5 {
            margin: 35px 0 15px 0;
            text-align: left;
        }
        
        #add-other-subskill {
            cursor: pointer;
            display: block;
            font-size: 12px;
            margin-top: 5px;
            text-align: right;
        }
        
        .editor-data {
            display: none;
            
            #subskills-wrapper {
                display: none;
            }
            
            .other-subskill {
                margin-bottom: 5px;
            }
        }
    }
}


