/*
* Common CSS Style 
* 
* @author:      Sigit Noviandi
* @since:       April 2018
* @package:     DokEdit
* @copyright:   Diffrnt Digital
*/

.showgrid {
    border: 1p solid red;
}

.action-wrapper {
    .btn {
        &.pull-right {
            margin-right: 5px;
            
            &:first-child {
                margin-right: 0px;
            }
        }
    }
}

.button-wrapper {
    margin-bottom: 5px;
}

.box {
    .btn {
        &.btn-box-tool {
            padding: 5px;
        }
    }
}

.invoice-without-margin {
    margin: 0;
    
    h2.page-header {
        margin-top: 0px;
    }
}

.btn-social {
    &:hover {
        color: #fff;
    }
}

a:hover {
    cursor: pointer;
    text-decoration: none !important;
}

.action-buttons {
    .btn {
        margin-bottom: 5px;
    }
}

.btn-new-line {
    margin-top: 5px;
}

.error-page {
    .headline {
        float: none;
        font-weight: 500;
        
        margin: 0px !important;
        padding: 0px !important;
        
        text-align: center;
        width: 100%;
    }
    
    .error-content {
        float: none;
        
        margin: 0px !important;
        padding: 0px !important;
        
        text-align: center;
        width: 100%;
    }
}