/*
* Common styles for User profile page
* 
* @author       : Sigit Noviandi
* @since        : June 2018
* @copyright    : Diffrnt Digital
* @package      : DokEdit
*
*/


.user-profile {
    #user-profile-forms {
       
        .other-subskill {
            margin-bottom: 5px;
        }
        
        .buttons-wrapper {
            margin-top: 50px;
        }
    }
}


